/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* /////// BADGE ///////  */
.color-red{ background:#f00 }

/* /////// NAVBAR ///////  */
.page .navbar .title-center{
  width:100%; text-align: center;
}
.page .navbar .title{
  font-family:'Compose',-apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.title-center img{
  height: 55px; width:110px; margin-top: 17px;
}
.navbar-gradient {
  background: linear-gradient(to bottom, black, transparent);
}
.navbar-transparent {
  background-color: transparent;
  border-bottom: none; /* Removes any default bottom border if present */
  box-shadow: none; /* Removes shadow if Framework7 applies any by default */
}

/* /////// TOOLBAR ///////  */
.dark .toolbar .toolbar-inner{background:#000}
.dark .toolbar .toolbar-inner .tab-link{font-family:'Compose',-apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;text-transform:uppercase;color:#fff}
.dark .toolbar .toolbar-inner .tab-link-active{color:#ceaa42}

/* Page Content */
.page-content{background: #000; }
.dark .page-content{ background: #000;}

/* /////// BLOCK ///////  */
.block-title,.block-header{
  color: #ceaa42; text-transform: uppercase;
  font-family: 'Montserrat Bold',-apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
}



