/* /////// ORBIT ///////  */
:root {
  --swiper-pagination-color: #ceaa42;
  --swiper-pagination-bullet-inactive-color: #ccc;

}
.swiper-orbit{
  margin-top: -65px;

}
.swiper-orbit .swiper-slide .orbit-container{
  margin-top: -50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  text-align: center;
 z-index: 200;
  
}

.swiper-orbit .swiper-slide .orbit-container .orbit-topheader{
     font-family: 'Montserrat Bold',-apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
  color: #ceaa42;
  margin-bottom: 10px;
}

.swiper-orbit .swiper-slide .orbit-container .orbit-header{
     color:#fff;font-size:35px;font-family:'Compose'; line-height: 36px;
  margin-bottom: 0;
}
.swiper-orbit .swiper-slide .orbit-text{
  display: block;
  font-family: 'Montserrat Regular',-apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;

  font-size: 12px;
  line-height: 16px;
  color: #CCC;
  margin-top: 10px;
  margin-bottom: 20px;

}

span.middot{
color:#ceaa42;
padding-left: 5px;
padding-right: 5px;
display: inline-block;
}
.swiper-orbit .swiper-slide .orbit-subheader{
  font-family: "Compose","Montserrat";
  font-size: 14px;
  line-height: 16px;
  color: #747371;
  margin-top: 6px;
  margin-bottom: 10px;
}
.orbit .orbit-button,
.swiper-slide .orbit-button{
  padding: 5px 20px;
}
.orbit .orbit-button .button,
.swiper-slide .orbit-button .button{
  font-size: 16px;
   font-family: "Montserrat Bold";
   color: #000;
}


.swiper-orbit  .orbit-segmented .icon{
  color: #ceaa42;
  margin-right: 10px;
}
.swiper-orbit  .orbit-segmented .button{
  color: #ccc;
  font-family: "Compose";
  font-size: 14px;
}

.swiper-pagination {
  bottom: -5px !important; /* Adjust as needed */
  top: auto !important;
}


/* /////// SWIPER ///////  */
.swiper-slide img{
  width: 100%;
  max-width: 100%;

}
.swiper-slide img{
  z-index: -10;
}
.swiper-thumbnail-container{
  padding-left:10px;padding-right:10px;padding-top: 5px;
}
.swiper-thumbnail-title{
color:#fff; font-size:12px;line-height:16px;font-family:'Compose';
}
.swiper-thumbnail-subtitle{
color:#8c8c8d;font-size:10px;font-family:'Compose';
}

/* /////// SWIPER ///////  */